body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #f0f0f0;
}

canvas {
    border: 2px solid black;
    display: block;
    margin: 20px auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

#quitButton {
    background-color: #f44336; /* Couleur rouge pour le bouton Quitter */
}

#quitButton:hover {
    background-color: #e53935; /* Effet au survol */
}

